@import url("https://fonts.googleapis.com/css?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css?family=Smokum&display=swap");

.style_0{
    font-family: "Audiowide";
    font-size: 30px; font-weight: bolder;
    
    
    
}
.style_1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px; font-weight: bolder;
   
    
}
.style_2{
    font-family: "Smokum";
    font-size: 30px; font-weight: bolder;
    color:azure
    
}
.style_3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px; font-weight: bolder;
    
}
.style_4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px; font-weight: bolder;
    
}
.style_5{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px; font-weight: bolder;
    
}
.style_6{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px; font-weight: bolder;
    
}
.style_7{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px; font-weight: bolder;
    
}
.style_8{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px; font-weight: bolder;
    
}
.style_9{
    font-family:monospace;
    font-size: 30px; font-weight: bolder;
    
}
.style_10{
    font-family: fantasy;
    font-size: 30px; font-weight: bolder;
    
}

button{
    background-color:aqua;
    padding: 0%;
}
.merci{
    position:absolute;
    width:220px;
    height:220px;
    top:700px;
    right:200px;
    padding: 0%;    
}
.gerbille{
    position:absolute;
    width:500px;
    height:500px;
    top:390px;
    right:0;
    padding: 0%;
}
